In [ ]:
# List Comprehension :
#when prommaing ,frequently we want to transform data from one type to another

In [3]:
nums = [0,1,2,3,4,5]
square = []
for x in nums:
    square.append(x**2)
print(square)

[0, 1, 4, 9, 16, 25]

In [5]:
nums=[0,1,2,3,4,5,6,7,8,9,10] # list
square =[x**2 for x in nums] # list comprehension
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
nums = [0,1,2,3,4,5,6,7,8,9,10]
evensquare = [x**2 for x in nums if x % 2 == 0]
print(evensquare)

[0, 4, 16, 36, 64, 100]

In [7]:
nums = [0,1,2,3,4,5,6,7,8,9,10]
evensquare = [x**2 for x in nums if x % 2 == 1]
print(evensquare)

[1, 9, 25, 49, 81]

In [ ]:
#A dictionary stores(key : values) pair,similar to a MAP in java or object in json ,javascript
# key will help indentify uniquely

#101 : 'Harman' Give error
#101:'Amit'  Give error
#101 :'Harman' work
#102 :'Harman' work correct

In [11]:
d ={101:'Harman',102:'Amit',103:'Hetinder'}

In [9]:
d

{101: 'Harman', 102: 'Amit', 103: 'Hetinder'}

In [10]:
print(d[101])

Harman

In [12]:
print(d[102])

Amit

In [13]:
print(d[103])

Hetinder

In [14]:
d[104]='python'
print(d[104])

python

In [20]:
D={'person':2 ,'cat':4 ,'dog ':5}
for i in D:
    val = D[i]
    print('A %s has %d val' % (i,val))

A person has 2 val
A cat has 4 val
A dog  has 5 val

In [21]:
nums=[0,1,2,3,4,5,6,7,8,9]
even_num ={x:x**2 for x in nums if x%2==0}
print(even_num)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
# Set :
#set is another data structure
# It is unordered collection of distinct element

In [22]:
animals = {'cat','dog','monkey'}
print('cat'in animals)

True

In [23]:
print('cats'in animals)

False

In [24]:
animals.add('cow')

In [25]:
animals # set arrange element in alphabetical order irrespective of order of element you added

{'cat', 'cow', 'dog', 'monkey'}

In [27]:
animals.add('cow') # In set add is used to add element

In [28]:
animals # set dont allow duplicate element

{'cat', 'cow', 'dog', 'monkey'}

In [29]:
print(len(animals))

4

In [30]:
animals.remove('cow')

In [31]:
animals

{'cat', 'dog', 'monkey'}

In [35]:
animals = {'cat','dog','cow','monkey'}
for id,animal in enumerate(animals):
     print('%d : %s'%(id+1,animal))

1 : cow
2 : dog
3 : monkey
4 : cat

In [40]:
# set comprehension : we will transform data of set
from math import sqrt
print({int(sqrt(x)) for x in range(30)}) # n-1

{0, 1, 2, 3, 4, 5}